@using NotebookSecond.Entities
@model Worker
@{ 
    Model.Id = Model.Id;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="~/css/popup.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form action="~/Worker/GetWorkerFromViewDB" method="post" class="container-sm" style="width: 50%; max-width: 517px;">
        @*Ссылка на метод в контроллере*@
        <p>
            <label class="form-label">Id</label><br>
            <input class="form-control" type="text" name="worker.Id" value="@Model.Id" readonly/>
        </p>
        <p>
            <label>Имя</label><br>
            <input type="text" name="worker.Name" value="@Model.Name" />
        </p>
        <p>
            <label>Фамилия</label><br>
            <input type="text" name="worker.Surname" value="@Model.Surname" />
        </p>
        <p>
            <label>Отчество</label><br>
            <input type="text" name="worker.Patronymic" value="@Model.Patronymic" />
        </p>
        <p>
            <label>Номер телефона</label><br>
            <input type="text" name="worker.PhoneNumber" value="@Model.PhoneNumber" />
        </p>
        <p>
            <label>Адрес</label><br>
            <input type="text" name="worker.Address" value="@Model.Address" />
        </p>
        <p>
            <label>Описание</label><br>
            <input type="text" name="worker.Description" value="@Model.Description" />
        </p>
        <p><input type="submit" value=" Сохранить" /></p>
    </form>
    <p>
        <a href="/WorkersList/Index" target="_blank">Список сотрудников</a>
        <a href="/Worker/AddWorker" target="_blank">Добавить сотрудника</a>
    </p>
</body>
</html>