@using NotebookSecond.Entities
@model Worker
@{
    ViewData["Title"] = "Сотрудник";
}
<div class="page_content">
    <h1>@Model.Name @Model.Patronymic</h1>
    <table class="table caption-top">
        <caption style="visibility:hidden;">Контакт @Model.Name @Model.Patronymic</caption>
        <tr>
            <th>Id</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Фамилия</th>
            <td>@Model.Surname</td>
        </tr>
        <tr>
            <th>Отчество</th>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <th>Номер телефона</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th>Адрес</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>@Model.Description</td>
        </tr>
    </table>
</div>